@import "../rest/reset";
@import "../rest/variables";

#skills {
  display: grid;
  grid-template-columns: repeat(1, 1fr);


  margin: 3rem auto; 

  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    width: 20rem;
    height: 7rem;
    padding: 1rem;
    margin: 1rem;
    
    border-radius: 0.5rem;
    background-color: $clr-background;
    
    box-shadow: $box-shadow;
    transition: all 0.3s ease-out;
    transition: opacity 1s ease-in-out;
    
    cursor: pointer;
    
    &:hover {
      transform: translateY(-0.5rem);
      transition: transform 0.3s ease-out;
      box-shadow: $box-shadow;
    }
    
    &:active {
      transform: translateY(-0.2rem);
      box-shadow: $box-shadow;
      transition: transform 0.3s ease-out;
    }

    .icon {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    
    .title {
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      margin-bottom: 0.5rem;
      margin-top: .4rem;
    }
    
    @media (max-width: $laptop) {
      &:hover {
        transform: none !important;
        
      }
      
      &:active {
        transform: none !important;
      }
    }
  }

  @media (max-width: $laptop) and (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $laptop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
