@import "./rest/reset";
@import "./rest/variables";
@import "./components/buttons";
@import "./components/skill";

@import "./blocks/about";


body {
  background: $clr-background-gradient;
  color: $clr-primary;
  font-family: $font-primary;
}